*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #2c2b2b;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
}

.header__content {
  padding-top: 60px;
  position: relative;
}

.header__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}

.header__subtitle {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.header__text {
  max-width: 800px;
  margin-bottom: 30px;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5a0d67;
  transition: all 0.5s;
}

.button:hover {
  color: #5a0d67;
  background-color: #fff;
}

.header__social {
  padding: 70px 0 20px 65px;
  display: flex;
  align-items: center;
}

.header__social-link {
  margin-right: 10px;
}

.header__img {
  position: absolute;
  right: 0;
  bottom: -270px;
}
